<div class="card-header text-center">
  <!-- <a [routerLink]="['/']" class="h1"><b>Admin</b>LTE</a> -->
  <pf-image
  src="/assets/img/logo_new.png"
  alt="AdminLTE Logo"
  class="brand-image"
  height="100"
  width="100"
  rounded
  style="opacity: 0.8"
></pf-image>
</div>
<div class="card card-outline card-primary">

  <div class="card-body">
    <p class="login-box-msg">Register a new membership</p>

    <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
      <div class="input-group mb-3">
        <div class="input-group">
          <input formControlName="firstname" type="text" class="form-control" placeholder="Firstname" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div *ngIf="submitted && f['firstname'].invalid">
          <small *ngIf="f['firstname'].errors && f['firstname'].errors['required']" class="text-danger">
            firstname is required </small>

        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <input formControlName="lastname" type="text" class="form-control" placeholder="Lastname" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div *ngIf="submitted && f['lastname'].invalid">
          <small *ngIf="f['lastname'].errors && f['lastname'].errors['required']" class="text-danger">
            lastname is required </small>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <input formControlName="email" type="email" class="form-control" placeholder="Email" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div *ngIf="submitted && f['email'].invalid">
          <small *ngIf="f['email'].errors && f['email'].errors['required']" class="text-danger">
            email is required </small>
            <small *ngIf="f['email'].errors && f['email'].errors['email']" class="text-danger">
              email is not correct </small>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group">
        <input formControlName="password" type="password" class="form-control" placeholder="Password" />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        </div>
        <div *ngIf="submitted  && f['password'].invalid">
          <small *ngIf="f['password'].errors && f['password'].errors['required']" class="text-danger">
            password is required </small>

        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
        <input formControlName="retypePassword" type="password" class="form-control" placeholder="Retype password" />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
        <div *ngIf="submitted && f['retypePassword'].invalid">
          <small *ngIf="f['retypePassword'].errors && f['retypePassword'].errors['required']" class="text-danger">retypepassword is required.
          </small>
          <small *ngIf="f['retypePassword'].errors && f['retypePassword'].errors['matching']" class="text-danger">retypepassword is not matching.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="icheck-primary">
            <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
            <label for="agreeTerms">
              I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-5">
          <pf-button [type]="'submit'" [block]="true" [loading]="false">
            Register
          </pf-button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">

    </div>

    <a [routerLink]="['/auth/login']" class="text-center">
      I already have a membership</a>
  </div>
</div>
